// Backgrounds
$light-background: #f6f6f6;
$medium-background: #dddddd;
$dark-background: #c3c3c3;
$primary-color: #6877CA;
$dark-primary-color: #303F9F;
$accent-color: #39FEA3;

// Text
$light-text: rgba(0,0,0,40%);
$medium-text: rgba(0,0,0,60%);
$dark-text: rgba(0,0,0,80%);